<% include ./partials/header.ejs %>


<div class="container-fluid index">
	<div class="row ">
		<div class="col-lg-10">
			<h1>Welcome to my blog!</h1>
		</div>

	</div>
	<div class="row col-lg-10 index">
		<% blogs.forEach(function(blogs){ %>
			<div class="container bottom">
				<h2><%= blogs.title %></h2>
				<span><em><%= blogs.posted.toDateString() %></em></span>		
				<p><strong><%= blogs.author %></strong></p>
				<p><%- blogs.desc %></p>
				<a href="/blogs/<%= blogs._id %>">Read more...</a>
			</div>
		<% }) %>
	</div>
</div>




<% include ./partials/footer.ejs %>
<!-- 
neeed to fix subscring issue -->

