<% include ./partials/header.ejs %>


<div class="container">
	<div class="row">
		<h1>Here is the Index page</h1>
	</div>
	<a href="blogs/new" class="btn btn-primary">Add a new post</a>
	<% blogs.forEach(function(blogs){ %>
		<div class="container">
			<h2><%= blogs.title %></h2>
			<span><%= blogs.posted %></span>		
			<p><%= blogs.author.substring(0,2) %></p>
			<p><%= blogs.desc %></p>
			<a href="/blogs/<%= blogs._id %>">Read more</a>
		</div>
	<% }) %>
</div>
<% include ./partials/footer.ejs %>
<!-- 
neeed to fix subscring issue -->