<% include ./partials/header.ejs %>

<div class="container-fluid form">
	<h1><%= blog.title %></h1>
	<div class="container-fluid">
		<div>
			<p>Written by <strong id="author"><a href=""><%= blog.author %></a></strong></p>
			<p><em><%= blog.posted.toDateString() %></em></p>
		</div>
		<div id="desc">
			<p><%- blog.desc %></p>
		</div>
	</div>
	<% if(currentUser) { %>
	<form class="form" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
		<a class="btn btn-success btn-sm" href="/blogs/<%= blog._id %>/edit">Edit</a>
		<button class="btn btn-danger btn-sm">Delete</button>
	</form>
	<% } %>
	<a id="back" href="/blogs">Back</a>

</div>


<% include ./partials/footer.ejs %>
