<% include ../partials/header.ejs %>


<div class="container-fluid index">
	<div class="row ">
		<div class="col-lg-10">
			<h1 class="mb-5 text-center">Jacob's Development Odessey</h1>
		<p class="mb-5 pb-5">Here I will be de
		</div>

	</div>
	<div class="row col-lg-10 index">
		<% blogs.forEach(function(blogs){ %>
			<div class="container bottom">
				<h2><%= blogs.title %></h2>
				<span><em><%= blogs.posted %></em></span>		
				<p><strong><%= blogs.author %></strong></p>
				<p><%- blogs.desc %></p>
				<a class="btn btn-md btn-danger readMore" href="/blogs/<%= blogs._id %>">Read more...</a>
				<hr>
			</div>
		<% }) %>
	</div>
</div>




<% include ../partials/footer.ejs %>
<!-- 
neeed to fix subscring issue -->

<!-- toDateString() -->